body {
  background: #fff;
  font-family: "Comfortaa", sans-serif;
  position: relative;
}
footer {
  text-align: center;
  padding: 1em;
  max-width: 80px;
  position: fixed;
  top: 0;
  right: 25px;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #fff;
  color: #fff;
  margin: 5px;
}
footer a:hover {
  background: rgba(255, 255, 255, 0.1);
}
footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}
* {
  box-sizing: border-box;
}
.main-content {
  text-align: center;
  text-transform: uppercase;
  scroll-snap-type: y mandatory;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}
.hover,
.word,
h1 {
  cursor: pointer;
}
h1 {
  position: relative;
  color: #fff;
  font: 900 60px Montserrat;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.concept {
  position: relative;
  padding: 5em;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: center;
}
.concept:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.concept:hover:before {
  opacity: 0.5;
}
.concept-one {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  background: yellow;
  padding: 12em;
  padding-top: 6em;
  padding-bottom: 19em;
  background: url("https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_1280.jpg")
    no-repeat center center / cover;
}
.concept-one h1 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -160px;
  transition: 1s ease;
  z-index: 0;
  letter-spacing: 25px;
}
.concept-one .hover {
  z-index: 1;
}
.concept-one .hover-1:hover ~ h1 {
  left: 130px;
  margin-top: -110px;
}
.concept-one .hover-2:hover ~ h1 {
  margin-top: -110px;
}
.concept-one .hover-3:hover ~ h1 {
  right: 130px;
  margin-top: -110px;
}
.concept-one .hover-4:hover ~ h1 {
  left: 130px;
}
.concept-one .hover-6:hover ~ h1 {
  right: 130px;
}
.concept-one .hover-7:hover ~ h1 {
  left: 130px;
  margin-top: -210px;
}
.concept-one .hover-8:hover ~ h1 {
  margin-top: -210px;
}
.concept-one .hover-9:hover ~ h1 {
  right: 130px;
  margin-top: -210px;
}

.title {
  font-size: 12vw;
  width: 25vw;
  height: 500px;
}

.image {
  position: relative;
}
